@font-face {
    font-family: "OngleleafYangJihye";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYangJihye/OngleleafYangJihye.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYangJihye/OngleleafYangJihye.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYangJihye/OngleleafYangJihye.ttf") format("truetype");
    font-display: swap;
}

.OngleleafYangJihye {
    font-family: "OngleleafYangJihye";
}
